/billpg.BearerTokenExample/.vs
/billpg.BearerTokenExample/bin
/billpg.BearerTokenExample/obj
/billpg.CrossRequestTokenExchange/.vs
/billpg.CrossRequestTokenExchange/bin
/billpg.CrossRequestTokenExchange/obj
/CrteTests/.vs
/CrteTests/bin
/CrteTests/obj
